# --- Segreti / config locali ---
.env
*.env
!.env.example

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.build/
dist/
build/

# virtualenv
.venv/
venv/
env/

# cache & toolings
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Editor / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Log/temporanei
*.log
*.tmp